@import "reset.css";
body {
    background-color: thistle;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px; 

}

.canvas {
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 5px;
}

.controls__colors {
    margin-top: 30px;
    display: flex;
}

.controls__color {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
}
